<%= form_with(model: portfolio, class: "contents") do |form| %>
  <% if portfolio.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited portfolio data from being saved:</h2>

      <ul>
        <% portfolio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label class="form-control w-full max-w-xs mt-12">
    <div class="label">
      <span class="label-text">Portfolio title</span>
    </div>
    <div class="w-full sm:w-4/5">
      <%= form.text_field :title, required: true, autofocus: true, autocomplete: "title", placeholder: "Title for portfolio", value: portfolio.title || params[:title], class: "input input-bordered w-full max-w-xs" %>
    </div>
  </label>

  <label class="form-control w-full mt-6">
    <div class="label">
      <span class="label-text">Portfolio introduction (short introduction shown in portfolio listing)</span>
    </div>
    <div class="w-full">
      <%= form.text_area :introduction, required: true, autofocus: true, placeholder: "Short introduction for portfolio", value: portfolio.introduction || params[:introduction], class: "textarea textarea-bordered h-24 w-full" %>
    </div>
  </label>

  <div class="flex w-full flex-col">
    <div class="divider divider-default mt-12 md:mt-16"></div>
  </div>

  <label class="form-control w-full max-w-xs mt-6 mb-4">
    <div class="label">
      <span class="label-text">Full rich text description</span>
    </div>
  </label>
  <%= form.rich_text_area :description %>

  <div class="my-4 mt-8">
    <%= link_to "Add new portfolio item", new_portfolio_item_path(portfolio_id: @portfolio.id) %>
  </div>

  <div class="flex flex-col xs:flex-row mt-8 items-center gap-y-2 xs:gap-x-2 sm:w-4/5">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium cursor-pointer justify-self-center w-full" %>
    <%= link_to "Show portfolio", @portfolio, class: "link-button rounded-lg py-3 px-5 bg-gray-100 inline-block text-center font-medium w-full" %>
  </div>
<% end %>
