<%= form_with(model: portfolio_item, class: "contents") do |form| %>
  <% if portfolio_item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(portfolio_item.errors.count, "error") %> prohibited portfolio item from being saved:</h2>

      <ul>
        <% portfolio_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label class="form-control w-full max-w-xs mt-12">
    <div class="label">
      <span class="label-text">Portfolio item title</span>
    </div>
    <div class="w-full sm:w-4/5">
      <%= form.text_field :title, required: true, autofocus: true, autocomplete: "title", placeholder: "Title for portfolio item", value: portfolio_item.title || params[:title], class: "input input-bordered w-full max-w-xs" %>
    </div>
  </label>

  <label class="form-control w-full max-w-md mt-8">
    <div class="label">
      <span class="label-text">Portfolio item url</span>
    </div>
    <div class="w-full sm:w-4/5">
      <%= form.text_field :url, required: true, autofocus: true, autocomplete: "url", placeholder: "URL for portfolio item", value: portfolio_item.url || params[:url], class: "input input-bordered w-full max-w-md" %>
    </div>
  </label>

  <label class="form-control w-full max-w-md mt-8">
    <div class="label">
      <span class="label-text">Portfolio item repository url</span>
    </div>
    <div class="w-full sm:w-4/5">
      <%= form.text_field :repository_url, required: true, autofocus: true, autocomplete: "repository_url", placeholder: "Repository URL for portfolio item", value: portfolio_item.repository_url || params[:repository_url], class: "input input-bordered w-full max-w-md" %>
    </div>
  </label>

  <div class="flex w-full flex-col">
    <div class="divider divider-default mt-12 md:mt-16"></div>
  </div>

  <label class="form-control w-full max-w-xs mt-6 mb-4">
    <div class="label">
      <span class="label-text text-lg">Full rich text description</span>
    </div>
  </label>
  <%= form.rich_text_area :description, class: "prose max-w-none" %>

  <div class="flex flex-col md:flex-row mt-12 mb-12 items-center gap-y-2 xs:gap-x-2 sm:w-full">
    <%= form.submit class: "btn btn-primary justify-self-center w-full md:w-1/2" %>
    <%= link_to "Show portfolio", @portfolio, class: "link-button btn btn-secondary justify-self-center w-full md:w-1/2" %>
  </div>
<% end %>
